*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; ;
}

.main-login{
    background-color: #C8102E;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
}

.card-login{
    background-color: #FDFDFD;
    color:#e70000;
    width: 420px;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px 40px;
}

.card-login h1{
    text-align: center;
    color: #C8102E;
}

.card-login .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    border:none;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40px;
    background: transparent;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #000000;
}

.input-box i {
    position: absolute;
    right: 20px;
    transform: translateY(-50%);
    top: 50%;
    font-size: 20px;
    
}

.card-login .btn{
    width: 100%;
    background-color:#C8102E ;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    
}

.card-login .logar-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    margin: 20px 0 15px;
}

.logar-link p a{
    color:#2E7D32 ;
    text-decoration: none;
    font-weight: 600;
}

.logar-link p a:hover{
    text-decoration: underline;

}